{{> head}}
<body>

    <section class="intro">
        <div class="logo">Иван Викторович</div>
        <div class="heading">
            <h1>Python<br><span>для начинающих</span></h1>
            <div class="break"></div>
            <div class="btn"><a href="#about-course">Смотреть программу</a></div>
        </div>
        <div class="bottom-block">
            <div class="item"><p>Старт</p><p>10 июля</p></div>
            <div class="item"><p>Старт</p><p>10 июля</p></div>
            <div class="item"><p>Старт</p><p>10 июля</p></div>
            <div class="item"><p>Старт</p><p>10 июля</p></div>
        </div>
        <div class="animated-background">
            <div class="micro-img img1"></div>
            <div class="micro-img img2"></div>
            <div class="micro-img img3"></div>
            <div class="micro-img img4"></div>
            <div class="mesh-img"></div>
        </div>
    </section>

    <section class="about-python">
        <h2><span>Python - это</span></h2>
        <div class="text-block">
            <p>2-ой по популярности язык программирования</p>
            <p>1-ый по популярности это JavaScript</p>
            <p>в целом неочень</p>
        </div>
    </section>

    <section class="about-teacher">
        <h2><span>Преподаватель курса</span></h2>
        <div class="row">
            <div class="text-block">
                <p>Меня зовут Иван Викторович и вот пара фактов обо мне:</p>
                <p>- 7 лет преподавания информатики и подготовки школьников к ЕГЭ и ОГЭ</p>
                <p>- Youtube-канал с +40000 подписчиками, которым помогают мои обучающие видео</p>
                <p>-более 10 лет работы на фрилансе в качестве программиста</p>
                <p>Я пиздабол</p>
            </div>
            <div class="image"></div>
        </div>        
    </section>

    <section class="about-course" id="about-course">
        <h2><span>Программа обучения</span></h2>
    </section>

    <section class="about-process">
        <h2>Процесс обучения</h2>
        <div class="wrapper">
            <div class="text-item">Онлайн занятия 2 раза в неделю</div>
            <div class="text-item">Домашнее задание по каждому уроку и его проверка</div>
            <div class="text-item">Ответы на все вопросы по пройденым темам</div>
        </div>
    </section>

    <section class="reviews">
        <h2><span>Отзывы</span></h2>
        <div class="wrapper">
            <div class="reviews-item rev1"></div>
            <div class="reviews-item rev2"></div>
            <div class="reviews-item rev3"></div>
            <div class="reviews-item rev4"></div>
        </div>
    </section>

    <section class="final">
        <div class="price-block">
            <h3>Стоимость обучения</h3>
            <p>
                <span>8990</span> за весь курс
                <br>или <span>3490</span> за каждый месяц
            </p>
        </div>
        <div class="social-block">
            <div class="social-item">                
                <p>Написать в VK</p>
                <div class="social-icon vk-icon"></div>
            </div>
            <div class="social-item">                
                <p>Написать в Instagram</p>
                <div class="social-icon instagram-icon"></div>
            </div>
        </div>
    </section>


</body>
</html>