@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
	border: none;
	box-sizing: border-box;
}
a, span, b, i, p, sup{
	color: inherit;
}
input, textarea, select, option{
	font-family: 'Roboto', sans-serif;
}
body{
    background: #eceff1;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
section{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 100px 15%;
}
.break{
    width: 100%;
    height: 0px;
}
h2{
    position: relative;
    color: #121212;
    font-size: 30px;
    font-weight: 700;
    height: 57px;
    padding: 10px 100px 10px 10px;
    span{
        position: relative;
        z-index: 2;
    }
}
h2::after{
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
    height: 15px;
    background: #ecbd22;
    z-index: 1;
}
.row{
    width: 100%;
    display: flex;    
}
/*
    ANIMATED BACKGROUND
*/
.back{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    .mesh-img{
        position: absolute;
        right: 15%;
        bottom: 100px;
        width: 780px;
        height: 520px;
        background: url('../images/mesh.png');
        opacity: 0.1;
    }
    .micro-img{
        position: absolute;        
        background-size: 100%;
    }
    .img1{
        top: 100px;
        left: 50%;
        width: 100px;
        height: auto;
        svg{
            fill: #FFD242;
        }   
    }
    .img2{
        top: 270px;
        right: 15%;
        width: 50px;
        height: auto;
        svg{
            fill: #FFD242;
        }   
    }
    .img3{
        top: 200px;
        right: 20%;
        width: 130px;
        height: auto;
        transform: scale(0.4);
        
        svg{
            opacity: 0.34;
            fill: #fff;
        }
    }
    .img4{
        bottom: 100px;
        left: 38%;
        width: 300px;
        height: auto;
        transform: scale(0.4);
        
    }
}
/*
    INTRO
*/
.intro{    
    background: #121212;
    padding-bottom: 0px;
    .wrapper{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .logo{
        color:#eceff1;
        font-size: 20px;
        font-weight: 700;
    }
    .heading{
        display: flex;
        flex-wrap: wrap;
        margin-top: 100px;
        width: 100%;
        h1{
            position: relative;
            color: #f6ad18;
            font-size: 60px;
            font-weight: 700;
            text-align: left;
            span{
                color: #eceff1;
                font-style: 0.5em;
                font-weight: 400;
            }            
        }
        h1:after{
            position: absolute;
            top: 10px;
            right: 0px;
            content: 'Курс';
            color: #eceff1;
            font-size: 24px;
            font-weight: 400;
            border: 1px solid #f6ad18;
            padding: 10px 20px;
        }
        .btn{
            margin-top: 50px;
            background: #f6ad18;
            color: #121212;
            font-size: 20px;
            font-weight: 700;
            padding: 10px 30px;
            a{

            }
        }        
    }
    .bottom-block{
        margin-top: 100px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px;
        border-top: 2px solid #f6ad18;
        .item{
            p{
                color:#f6ad18;
                font-size: 20px;
                font-weight: 500;
            }
            p:last-child{
                color: #eceff1;
                font-size: 20px;
            }
        }
    }
}
/*
    ABOUT PYTHON
*/

.about-python{    
    .wrapper{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .back{
        .mesh-img{
            opacity: 1;
        }
    }
    .text-block{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33%;
        background: #121212;
        padding: 30px;
        p{             
            color: #a7a7a7;
            font-weight: 300;
            font-size: 20px;
        }
        b{            
            color: #f6ad18;
            font-weight: 500;
        }
    }
    /*
    .text-block::after{
        content: '+';
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 100%;
        font-size: 60px;
        color: #0f0;
        font-weight: 300;        
        opacity: 0.5;
    }
    */
}
/*
    ABOUT TEACHER
*/
.about-teacher{
    min-height: 650px;
    h3{
        color: #121212;
        font-size: 20px;
        font-weight: 500;
    }
    .wrapper{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 70%;
        height: 100%;
        z-index: 1;
        border: 1px solid #121212;   
    }
    .text-block{
        width: 50%;
        padding: 20px;
        p{
            padding: 10px 0;
            color: #121212;
            font-size: 20px;
            font-weight: 300;
        }        
        span{
            background:#eceff1;            
        }
        b{
            font-weight: 500;
        }
    }
    .image{
        position: absolute;
        top: 50px;
        right: 15%;
        width: 431px;
        height: 600px;
        background: url('../images/teacher.png') no-repeat center;
        z-index: 0;
    }    
}
/*
    ABOUT COURSE
*/
.about-course{
    background: #121212;
    h2{
        color: #f6ad18;
        margin-bottom: 30px;
        padding-left: 0px;
    }
    h2:after{
        display: none;
    }
    .wrapper{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .text-block{
        display: flex;
        flex-direction: column;        
        width: 49%;
        h3{
            min-height: 58px;
            color: #eceff1;
            font-weight: 700;   
            font-size: 24px;
            margin-bottom: 30px;            
        }        
    }    
    .description{
        justify-self: flex-start;
        min-height: 170px;
        p{
            color: #a7a7a7;
            font-size: 16px;
            margin-bottom: 15px;
        }
    }
    .download-btn{
        margin-top: 30px;
        border: 2px solid #eceff1;
        background: rgba(255, 255, 255, 0.1);
        color: #eceff1;
        padding: 10px;
        cursor: pointer;
        transition: all 0.2s;
    }
    .download-btn:hover{            
        border-color: #ecbd22;
        box-shadow: 0px 0px 5px #ecbd22, inset 0px 0px 5px #ecbd22;
    }    
}
/*
    ABOUT PROCESS
*/

.about-process{
    .wrapper{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .text-block{
        width: 100%;
        display: flex;
        .text-item{
            margin-top: 50px;
            width: 30%;
            font-size: 24px;
            svg{
                margin-top: 20px;
                margin-left: 25%;
                width: 70%;
                fill: #FFD242;
            }
        }
        .text-item:nth-child(2){
            padding-top: 0px;
        }
        .text-item:nth-child(2){
            padding-top: 150px;
        }
        .text-item:nth-child(3){
            padding-top: 300px;
        }
    }
    .back{
        .mesh-img{
            width: 65%;
            height: 55%;
            opacity: 1;
        }
    }
}
/*
    REVIEWS
*/

.reviews{
    background: #121212;    
    .wrapper{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        z-index: 1;
    }    
    h2{
        color: #f6ad18;
        margin-bottom: 30px;
        padding-left: 0px;
    }
    h2:after{
        display: none;
    }
    .reviews-item{
        width: 640px;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: #eceff1;
        font-size: 24px;
        img{
            width: 100%;
        }
        p{
            width: 100%;
            text-align: center;
        }
        a{
            color: #f00;
            font-weight: 700;            
            text-shadow: 0px 0px 10px #f00;
        }        
    }    
    .reviews-item:last-child{
        width: 100%;
        padding: 60px 0 0;
    }
}
/*
    FAQ
*/
.faq{
    .wrapper{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    h2{
        margin-bottom: 60px;
    }
    p{
        color: #121212;
        font-size: 16px;
        line-height: 1.5;
    }
    .spoiler{
        width: 100%;
        margin-bottom: 5px;
        background: #fff;
        border-bottom: 4px solid #f6ad18;        
        cursor: pointer;
        padding: 20px 30px;
        border-radius: 5px;
        .spoiler-btn{
            position: relative;
            p{
                font-size: 18px;
                color: #737272;
                font-weight: 700;
                transition: color 0.2s;
                padding-right: 30px;
            }
        }
        .spoiler-btn:after{
            content: '>';
            position: absolute;
            top: 0px;
            right: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 100%;
            font-size: 40px;
            color: #737272;
            font-weight: 300;
            transform: rotate(90deg);            
            transition: transform 0.4s;
        }
        .spoiler-text{
            display: none;
            padding-top: 15px;
            p{
                max-width: 600px;
            }
        }        
        .spoiler-btn.active:after{
            transform: rotate(-90deg);
        }
        .spoiler-text.active{
            display: block;
        }
    }
    .spoiler:hover .spoiler-btn p{
        color: #000;
    }
}
/*
    FINAL
*/
.final{
    .wrapper{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .wrapper2{
        position: relative;
        width: 100%;
        height: 100%;
        background: #fff;
        padding: 50px;
        z-index: 2;
    }
    .price-block{
        max-width: 50%;
        position: relative;
        background: #fff;
        h3{
            color: #121212;
            font-size: 50px;
            font-weight: 300;
            text-align: left;
            margin-bottom: 20px;
        }
        p{
            color: #121212;
            font-size: 20px;
            line-height: 2;
            background: url('../images/Ресурс\ 7.svg') no-repeat top left;
            background-size: 180px auto;
            padding-left: 50px;
            span{
                color: #f6ad18;
                font-size: 40px;
                b{
                    font-size: 20px;
                }
            }
            span:last-child{
                font-size: 30px;
            }
        }
    }
    .price-block:after{
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        width: 100%;
        height: 100%;
        background: #f6ad18;
        z-index: 0;
    }
    .social-block{
        width: 50%;
        .social-item{
            display: flex;
            align-items: center;
            margin-top: 30px;
            p{
                color: #eceff1;
                font-size: 20px;
                font-weight: 700;
                transition: color 0.2s;
                order: 2;
                span{
                    background: #121212;
                    padding: 0 20px;
                }
            }
            .social-icon{
                margin-right: 20px;
                width: 100px;
                height: 100px;                
                order: 1;
            }
            .vk-icon{
                background: url('../images/vk-icon.png');
            }
            .instagram-icon{
                background: url('../images/instagram-icon.png');
            }
        }
        a:hover{
            .social-item p{
                color: #f6ad18;                
            }
        }
    }
    .form{
        width: 50%;
        border: 1px solid #121212;
        background: #121212;
        padding: 30px;
        h3{
            color: #eceff1;
            font-size: 30px;
            font-weight: 300;
            text-align: center;
            margin-bottom: 20px;
        }
        .input-con{
            width: 100%;
            margin-bottom: 20px;
            p{
                color: #FFD242;
                font-size: 14px;
                text-align: center;
                span{
                    color: red;
                }
            }
            .input{
                width: 100%;
                color: #fff;
                font-size: 20px;
                padding: 5px 15px;
                text-align: center;
                border: none;
                background: none;
                border-bottom: 2px solid #a7a7a7;                
            }
            .input:focus{
                outline: none;
                border-color: #f6ad18;                
            }            
        }
        .form-btn{
            max-width: 250px;
            margin: 30px auto 0;
            border: 2px solid #eceff1;
            background: rgba(255, 255, 255, 0.1);
            color: #eceff1;
            padding: 10px;
            cursor: pointer;
            transition: all 0.2s;
            text-align: center;
        }
        .form-btn:hover{            
            border-color: #ecbd22;
            box-shadow: 0px 0px 5px #ecbd22, inset 0px 0px 5px #ecbd22;
        }
        .response{
            width: 100%;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            color: #a7a7a7;
            font-weight: 700;
            text-align: center;
        }
        .response.ok{
            color: #0f0;
        }
        .response.fail{
            color: #f00;
        }
    }
}
/*
    Copyrighghtht
*/
.copyright{
    border-top: 1px solid #a7a7a7;
    background: #121212;
    color: #a7a7a7;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    text-align: center;
    a{
        text-decoration: underline;
    }
    b{
        color: #f6ad18;
    }
    a:hover{
        color: #f6ad18;
    }
}
/*
    RESP
*/
@media screen and (max-width: 1400px) {
    .about-teacher{
        .image{
            right: 0px;
            bottom: 0px;
        }
    }
}
@media screen and (max-width: 1100px) {
    .intro{
        .bottom-block{
            .item{
                width: 50%;
                margin-bottom: 15px;
            }
        }
    }    
    .about-python{
        .text-block{
            width: 100%;
            margin-bottom: 5px;
        }
    }
}
@media screen and (max-width: 1000px) {
    .about-teacher{
        .wrapper{
            margin-top: 15px;
            width: 100%;
        }
        .text-block{
            width: 100%;            
        }
        .text-block:last-child{
            padding-top: 0px;
        }
        .image{
            position: relative;
        }
    }
    .final{
        .price-block{
            max-width: 100%;
            width: 100%;
        }
        .social-block{
            width: 100%;
        }
        .form{
            width: 100%;
        }
    }
}
@media screen and (max-width: 800px) {
    .back{
        .img2{
            top: 300px;
        }
    }
    section{
        padding: 50px 5%;
    }
}
@media screen and (max-width: 700px) {
    .back{
        .img1{
            display: none;
        }
    }
    .about-course{
        .text-block{
            h3{
                min-height: auto;
            }
            width: 100%;
        }
        .text-block:last-child{
            margin-top: 30px;
        }
    }
}
@media screen and (max-width: 500px) {
    section{
        padding: 50px 10px;
    }
    h2{
        height: auto;
    }
    .intro{
        .heading{
            margin-top: 50px;
            h1{
                font-size: 40px;
            }
            h1:after{
                font-size: 20px;
                padding: 5px;
            }
            .btn{
                font-size: 18px;
            }
        }
        .bottom-block{
            .item{
                width: 100%;
            }
        }
    }
    .about-process{
        .text-block{
            flex-wrap: wrap;
            .text-item{
                width: 100%;
            }
            .text-item:nth-child(2){
                padding-top: 0px;
            }
            .text-item:nth-child(3){
                padding-top: 0px;
            }
        }
    }
    .final{
        .wrapper2{
            padding: 20px;
        }
        .price-block{
            h3{
                font-size: 30px;
            }
        }
        .social-block{
            .social-item{
                .social-icon{
                    width: 50px;
                    height: 50px;
                    background-size: 100%;
                }
            }
        }
    }
}